html
    head
        title login
        link(rel='stylesheet' href='assets/bower-components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='assets/css/common.css')

        body
            .container.mt-4
                block content
            div.alert.alert-primary.text-center.footer span copyright@2017

            script(src='assets/bower-components/jquery/dist/jquery.js')
            script(src='assets/bower-components/bootstrap/dist/js/bootstrap.js')

